/*
 * IMPORTANT NOTE: Theme based on Tailwindcss but for the purpose of simplifing the DOM we use
 * tailwind classes with @apply directive in the SCSS files
*/

/**
 * SETTINGS
 * Tailwind.............Import tailwind.
 * Fonts................Any font files.
 * Global...............Project-specific, globally available variables.
 * Breakpoints..........Mixins and variables for responsive styles.
 *
 * GENERIC
 * Common...............All commn styles and assistan classes and common style fixes
 * Reset................Reset specific elements to make them easier to style in other contexts.
 * Animations...........Some of animations from anime.css
 * Lazyload.............Lazyload placeholder styles
 * RTL..................Specific styles for RTL.
 * LTR..................Specific styles for LTR.
 *
 * ELEMENTS
 * Forms................Element-level form styling.
 * Buttons..............Specific styles for buttons.
 * Radio................Specific styles for custom radio button.
 * Radio Images.........Specific styles for radio images, used in product options.
 *
 * COMPONENTS
 * Header...............Specific styles for header styles.
 * Footer...............Specific styles for footer styles.
 * Menu.................Specific styles for main menu and mobile menu styles.
 * User Menu............Specific styles for user menu dropdown.
 * User Pages...........Specific styles for user pages like profile, notifications, orders...
 * Home Blocks..........Specific styles for home blocks.
 * Slider...............Specific styles for sliders.
 * Product..............Specific styles for single product page and it's elements.
 * Brands...............Specific styles for brands page.
 * Placeholder..........Specific styles for no content placeholders.
 * Gifting..............Specific styles for gifting system.
 * Loyalty..............Specific styles for loyalty system.
 *
 * UTILITIES
 * Chat Bots............Specific styles for chats bots widget.
 * Swal.................Specific styles for Sweet Alert addon.
 * Safari Fixes.........Specific styles for Safari Browser.
 *
 * EMBEDED ADDONS
 * Lite Youtube Embed...Specific styles for lite-youtube-embed addon.
 * Swiper...............Specific styles for swiper slider addon.
 * MMenu................Specific styles for mmenu addon.
 *
*/

@import "./01-settings/tailwind";
@import "./01-settings/fonts";
@import "./01-settings/global";
@import "./01-settings/breakpoints";

@import "./02-generic/reset";
@import "./02-generic/common";
@import "./02-generic/tooltip";
@import "./02-generic/animations";
@import "./02-generic/lazyload";
@import "./02-generic/rtl";
@import "./02-generic/ltr";
@import "./02-generic/mixins";

@import "./03-elements/form";
@import "./03-elements/buttons";
@import "./03-elements/radio";
@import "./03-elements/radio-images";

@import "./04-components/header";
@import "./04-components/footer";
@import "./04-components/menus";
@import "./04-components/user-menu";
@import "./04-components/user-pages";
@import "./04-components/home-blocks";
@import "./04-components/slider";
@import "./04-components/product";
@import "./04-components/brands";
@import "./04-components/no-content-placeholder";
@import "./04-components/gifting";
@import "./04-components/loyalty";
@import "./04-components/virtooal";
@import "./04-components/landing-page";

@import "./05-utilities/chat-bots";
@import "./05-utilities/swal";
@import "./05-utilities/safari-fixes";
@import "./05-utilities/font-customization";

@import "lite-youtube-embed";
@import "swiper/css/bundle";
@import "mmenu-light/dist/mmenu-light.css";
@font-face {
  font-family: "HomeFont";
  src: url("images/din-next-lt-w23-regular.ttf");
}
body {
  font-family: HomeFont !important;
  overflow-x: hidden;
  /* overflow-y: hidden; */
}
.header {
  padding: 20px;
}
.header a,
input {
  color: black;
  /* font-family: HomeFont; */
}
.headerContent {
  font-size: 13px;
  font-weight: 300;
}
.icon {
  background-color: #bbbbbb;
  color: white;
  display: flex;
  padding: 10px;
  border-radius: 50%;
  text-align: center;
  align-items: center;
  justify-content: center;
  z-index: 1;
  font-size: 10px;
}
.header input {
  border: none;
  background-color: #efecec;
  border-radius: 20px;
  font-size: 10px;
  margin-right: -20px;
  padding-right: 25px;
}
.header input::placeholder {
  margin-right: 20px;
}
//  .shopping-cart {
//     width: 50%;
// }
.shopping-cart-icon {
  width: 50%;
  height: 80%;
  background-color: #efecec;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border-radius: 50%;
  position: relative;
}
.button__badge {
  background-color: #fa3e3e;
  border-radius: 2px;
  color: white;

  padding: 1px 3px;
  font-size: 10px;

  position: absolute; /* Position the badge within the relatively positioned button */
  top: -4px;
  right: -5px;
}
#modal {
  position: relative;
}
.drawer {
  height: 358px;
  background: rgba(255, 255, 255, 1);
}
.modalToggle {
  border-top: 3px solid #0a0a0a;
  position: absolute;
  display: none;
  z-index: 11;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  text-align: right;
  overflow: hidden;
}
.drawerLinks {
  display: flex;
  flex-direction: column;
  margin: 50px 200px;
  border-right: 1px solid #d6d6d6;
  height: 55%;
}
.drawerLinks a {
  font-size: 13px;
  color: #050404;
  font-weight: bold;
}
.largeImage {
  background: url("/images/largeLogo.png") no-repeat center center;
  /* height: 200px;
    width: 200px; */
}
.firstContent {
  /* background-image: url("/images/p2.png"); */
  height: 400px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.homeImageContainer {
  height: 200px;
  border-radius: 20px;
}
.homeImageContainer img {
  width: 100%;
  height: 391px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.firstText,
.secondText {
  top: 110px;
  position: absolute;
  right: 80px;
  text-align: center;
  color: #f6bba7;
  font-size: 40px;
}
.secondText {
  top: 200px;
}
#paddingRightLeft {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.categories {
  text-align: right;
}
.categories h4 {
  font-weight: bold;
}
.subCategories {
  border-bottom: 1px #afafaf solid;
}
.checked {
  border-bottom: 1px black solid;
  color: black;
}
.unChecked {
  color: #afafaf;
}
[dir="rtl"] .slick-next {
  left: 0px !important;
}
.responsive .slick-arrow {
  /* background-color: red !important; */
  display: none;
}
.card-img-top {
  padding: 20px;
}
.discount {
  background-color: #f282a9;
  color: white;
  padding: 3px;
  font-size: 11px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
.rating {
  font-size: 14px;
}
.rating i {
  color: yellow;
}
.card-body {
  border-bottom: 1px #afafaf solid;
}
.card {
  align-items: center;
  width: 232px;
  height: 387px;
  position: relative;
  border-radius: 5%;
}

.cartHome {
  background-color: #f282a9;
  color: white;
  padding: 10px;
  border-radius: 0 10px 0 10px;
  text-align: center;
  width: 66px;
  height: 42px;
  display: flex;
  justify-content: center;
}
.card-bottom {
  justify-content: space-between;
}
.middle {
  color: #595959;
  text-decoration: line-through;
  font-size: 14px;
  font-weight: 100;
}
.first {
  font-weight: bold;
  font-size: 14px;
  margin-left: 50px;
}
[dir="rtl"] .slick-next {
  display: none;
  /* left: 0px !important; */
}
.card-title {
  text-align: right;
  font-size: 11px;
  color: #595959;
}
.newBadge {
  background-color: #f9593a;
  color: white;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: 8px;
  writing-mode: vertical-rl;
  padding: 10px 7px;
  margin-right: -20px !important ;
}
.topBadge {
  position: absolute;
  top: 0;
}

.images img {
  width: 50%;
  height: 432px;
}
@media only screen and (min-width: 375px) {
  .modalToggleResponsive {
    border-top: 3px solid #0a0a0a;
    position: absolute;
    display: none;
    z-index: 11;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    text-align: right;
    overflow: hidden;
  }
  .drawerResponsive {
    width: 278px;
    height: 829px;
    background: rgba(255, 255, 255, 1);
    border-radius: 50px 0px 0px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* transform: rotate(90deg); */
  }
  .drawerLinksResponsive {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .drawerLinksResponsive a {
    color: #595959 !important;
    font-size: 13px;
  }
  .smallImage {
    margin-right: 86px;
  }
  .header {
    display: none;
  }
  .headerResponsive {
    display: block;
    background-color: white;
  }
  .homeImageContainer img {
    width: 350px;
    height: 236px;
  }
  .firstText,
  .secondText {
    font-size: 14px;
  }
  .firstContent {
    height: 231px;
  }
  .newBadge {
    margin-right: 0px !important;
    padding: 10px 4px;
  }
  .images img {
    width: 377px;
    height: 276px;
  }
  #specialOrder {
    width: 375px;
    height: 350px;
  }
  .card {
    width: 165px;
    height: 290px;
  }
  .cartHome {
    width: 47px;
    height: 30px;
  }
   .card-bottom {
        margin-right: 0px;
        margin-left: 0px;
        margin-bottom: -5px;
    }
}
@media only screen and (min-width: 550px) {
  .header {
    display: block;
  }
  .headerResponsive {
    display: none;
  }
  .homeImageContainer img {
    width: 100%;
    height: 391px;
  }
  .firstText,
  .secondText {
    font-size: 40px;
  }
  .firstContent {
    height: 400px;
  }
  .newBadge {
    padding: 10px 7px;
    margin-right: -20px !important ;
  }
  .images img {
    width: 589px;
    height: 432px;
  }
  #specialOrder {
    width: 1236px;
    height: 499px;
  }
  .card {
    width: 232px;
    height: 350px;
  }
  .prodImage {
    width: 160px;
    height: 300px;
    img {
      width: 100%;
    }
  }
  .card-bottom {
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
}
}
